section>div>.item{
    padding:.155rem;
    font-size: .12rem;
    border-radius:50%;
    border:1px solid #333;
    max-width: .4rem;
    max-height:.4rem;
    box-sizing: content-box;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right:.5rem;
}
section>div{
    display: flex;
    flex-direction:row;
}
section>div>.item>p:first-child{
    margin-left:.05rem;
}
body,html,p,ul,li{
    padding:0;
    margin:0;
}
header{
  background: url(./bg.png) no-repeat;
  background-size: cover;
  font-size: .1rem;
}
header>div{
    float: right;
    color:#fff;
    margin-right:10%;
    padding-bottom:.3rem;
}
header::after{
    content:'';
    display: block;
    clear: both;
}
section{
    font-size: .1rem;
    padding:.3rem;
}
h5{
    padding:0;
    font-size:.12rem;
    margin: 0;
    margin: .13rem 0 .07rem;
}
.rightul>div:first-child>div>h5{
    margin-bottom:.1rem;
}
section>div:nth-child(2){
    margin-top: .3rem;
}
li{
    word-break: break-all;
}

@media screen and (min-width:320px) and (max-width:359px){
    html { font-size: 666%; }
    .rightul{
        width:50%;
    }
    section{
        padding:.1rem;
    }
    section>div>.item{
        margin-right:.2rem;
    }
}
@media screen and (min-width:360px) and (max-width:374px){
    html { font-size: 703%; }
    .rightul{
        width:50%;
    }
    section{
        padding:.1rem;
    }
    section>div>.item{
        margin-right:.2rem;
    }
}
@media screen and (min-width:375px) and (max-width:383px){
    html { font-size: 732.4%; }
    .rightul{
        width:64%;
    }
    section{
        padding:.1rem;
    }
    section>div>.item{
        margin-right:.2rem;
    }
}
@media screen and (min-width:384px) and (max-width:399px){
    html { font-size: 750%; }
    .rightul{
        width:64%;
    }
    section{
        padding:.1rem;
    }
    section>div>.item{
        margin-right:.2rem;
    }
}
@media screen and (min-width:400px) and (max-width:413px){
    html { font-size: 781.25%; }
    .rightul{
        width:64%;
    }
    section{
        padding:.1rem;
    }
    section>div>.item{
        margin-right:.2rem;
    }
}
@media screen and (min-width:414px) and (max-width:431px){
    html { font-size: 808.6%; }
    .rightul{
        width:64%;
    }
    section{
        padding:.1rem;
    }
    section>div>.item{
        margin-right:.2rem;
    }
}
@media screen and (min-width:432px) and (max-width:479px){
    html { font-size: 843.75%; }
    .rightul{
        width:64%;
    }
    section{
        padding:.1rem;
    }
    section>div>.item{
        margin-right:.2rem;
    }
}
@media screen and (min-width:480px) and (max-width:519px){
    html { font-size: 843.75%; }
    .rightul{
        width:64%;
    }
    section{
        padding:.1rem;
    }
    section>div>.item{
        margin-right:.2rem;
    }
}
@media screen and (min-width:520px) and (max-width:559px){
    html { font-size: 903.75%; }
    .rightul{
        width:60%;
    }
}
@media screen and (min-width:560px) and (max-width:609px){
    html { font-size: 943.75%; }
    .rightul{
        width:60%;
    }
}
@media screen and (min-width:610px) and (max-width:649px){
    html { font-size: 983.75%; }
    .rightul{
        width:60%;
    }
}
@media screen and (min-width:650px) and (max-width:699px){
    html { font-size: 1013.75%; }
    .rightul{
        width:60%;
    }
}
@media screen and (min-width:700px) and (max-width:739px){
    html { font-size: 1040.75%; }
    .rightul{
        width:60%;
    }
}
@media screen and (min-width:740px) and (max-width:779px){
    html { font-size: 1080.75%; }
    .rightul{
        width:70%;
    }
}

@media screen and (min-width:780px) and (max-width:839px){
    html { font-size: 1160.75%; }
    .rightul{
        width:70%;
    }
}
@media screen and (min-width:840px) and (max-width:960px){
    html { font-size: 1190.75%; }
    .rightul{
        width:70%;
    }
}
@media screen and (min-width:880px) and (max-width:929px){
    html { font-size: 1200.75%; }
    .rightul{
        width:70%;
    }
}
@media screen and (min-width:930px) and (max-width:960px){
    html { font-size: 1030.75%; }
    .rightul{
        width:70%;
    }
}
@media screen and (min-width:961px){
    html { font-size: 1030.75%; 
    }
    header{
        width:960px;
        border:1px solid #fff;
        border-bottom:none;
        margin:0 auto;
    }
    .wrap>div:first-child{
        width:100%;
        background-color:#4a4c58;
        /* height:287px; */
    }
    section{
        width:960px;
        border:1px solid #4a4c58;
        border-top:none;
        margin:0 auto;
        box-sizing:border-box;
    }
    .rightul{
        width:70%;
    }
}
